@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.bodys{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} 
.bodys{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
   background: url('https://c4.wallpaperflare.com/wallpaper/151/605/295/blurred-wallpaper-preview.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 } 
.reg-conatiner{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.reg-conatiner .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.reg-conatiner .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #745C97, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-boxs{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-boxs span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-boxs input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-boxs input:focus,
.user-details .input-boxs input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }

 .register-button{
  border-radius: 20px;
	border: 1px solid #FFFFFF;
	background-color:  #562349;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin-top: 12px;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 50%;
   margin-left:25%;
   border-radius: 50px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #745C97,#B689B0, #745C97);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg,#B689B0, #8B4F80, #745C97);
  }
 @media(max-width: 584px){
 .reg-conatiner{
  max-width: 90%;
}
form .user-details .input-boxss{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .reg-conatiner .content .category{
    flex-direction: column;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}